* {
    box-sizing: border-box;
    margin: 0;
}

.secure {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}


.secure-btn {
    color: blue;
    font-weight: bold;
    text-align: center;   
    border-style: solid;
    border-width:3px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px; 
    background:rgb(42, 160, 111);
    width:335px;
    padding:20px;
    /*float:left; remove this*/
    margin:115px;
 
    /*add this*/ 
    display:inline-block;
    position:relative;
}

.logout-button {
    text-align:right;
    padding-right: 10px;
    margin: 10px;
}

.container {
    display: flex;
    text-align: center;
    flex-direction: col;
    margin: auto;
    padding: 38px;
    position: inherit;
    flex-flow: column;
}
.options {
        /* flex-direction: row; */
        list-style-type: none;
        /* margin: 50px; */
        display: flex;
        align-self: center;
}

.btn {
    align-self: flex-start;
    margin: 50px;
}
.title {
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    text-shadow: -3px 1px 4px black;
}