.background {
    opacity: 0.1;
}

.cardy {
    width: 350px;
    text-align: center;
    margin: 10px;

} 

img {
    height: 200px;
    width: 10rem;
    vertical-align: baseline;
    object-fit: fill;
}

.card-text {
    padding-top: 5%;
}

.card-container {
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap;  */
    overflow-x: auto;
    margin-left: .5%;
    margin-right: .5%;
}

.recent {
   clear: left; 
   padding-top: 40px;
   margin-top: 30px;
   border-top: 40px;
  
}
.intro {
    width: 750px;
    height: 450px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 3px solid rgba(255,255,255,0.16);
    padding: 60px 16px;
    margin-bottom: 40px;
    margin-top: 35px;
}

#wordart {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    float: left;
    margin: 30px;
    z-index: 2;
    
}

.banner {
    margin-top: 20px;
    justify-content: center;
}    