.background {
    opacity: 0.1;
}

 .cardy {
    width: 350px;
    text-align: center;
    margin: 10px;

} 

img {
    height: 200px;
    width: 7rem;
    vertical-align: baseline;
}

.card-text {
    padding-top: 5%;
}

.card-container {
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap;  */
    overflow-x: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.jumbotron {
    padding-bottom: 15px;
    padding-top: 15px;
}
