/* --------FORM-------- */

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-container {
	position: relative;
	margin: 10px;
}

input {
	padding: 10px;
	font-family: 'Oxygen';
	font-size: 1em;
	border: none;
	border-bottom: solid 1px #949494;
	box-sizing: border-box;
	transition: 0.3s;
}

input:focus {
	outline: none;
}

.input-underline {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.3s;
}

input:focus ~ .input-underline {
	width: 100%;
	background-color: gray;
	transition: 0.3s;
}

input:valid ~ .input-underline {
	width: 100%;
	background-color: #768BB4;
	transition: 0.3s;
}

.input-label {
	position: absolute;
	top: 12px;
	left: 10px;
    font-family: 'Oxygen';
    color: red;
    font-size: 20px;
    font-weight: bold;
	text-transform: capitalize;
	cursor: text;
	pointer-events: none;
	transition: 0.3s;
}

input:focus ~ .input-label {
	top: -13px;
	left: 10px;
	font-size: 1em;
	color: gray;
	font-weight: bold;
}

input:valid ~ .input-label {
	top: -13px;
	left: 10px;
	font-size: 1em;
	color: #768BB4;
	font-weight: bold;
}
/* 
.btn {
	margin: 40px;
	height: 60px;
	width: 180px;
	font-family: 'Fjalla One';
	font-size: 2em;
	background-color: #CDEBE9;
	border-radius: 10px;
	box-shadow: 5px 5px #888888;
	transition: 0.2s;
} */

.form-register {
    margin: 40px;
	height: 60px;
	width: 180px;
	font-family: 'Fjalla One';
	font-size: 2em;
	background-color: #CDEBE9;
	border-radius: 10px;
	box-shadow: 5px 5px #888888;
	transition: 0.2s;
} 
