* {
    box-sizing: border-box;
    margin: 0;
}

.base-container {
    margin-top: 150px;
}



.register {
    text-align: center;   
    border-style: solid;
    border-width:3px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px; 
    background:yellow;
    width:335px;
    padding:20px;
    /*float:left; remove this*/
    margin:15px;
 
    /*add this*/ 
    display:inline-block;
    position:relative;
}

.register-btn {
    text-align: center;   
    border-style: solid;
    border-width:3px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px; 
    background:rgb(0, 255, 115);
    width:335px;
    padding:20px;
    /*float:left; remove this*/
    margin:15px;
 
    /*add this*/ 
    display:inline-block;
    position:relative;
}

.form-group {
    text-align: center;   
    /* border-style: solid;
    border-width:3px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px; */ 
    background: rgba(255, 255, 255, 0.81);
    width:335px;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    display:inline-block;
    position:relative;

}

.button-holder{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.form-wrap {
    display: block;
    text-align: center;
}

.un {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.link-to-register {
    color: black;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
 a:hover {
    text-decoration: none;
  }

  .base-container a:hover
  {
      color: rgb(255, 47, 0);
  }


  .already-account {
    text-align: center;   
    border-style: solid;
    border-width:3px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px; 
    background:rgb(255, 136, 0);
    width:335px;
    padding:20px;
    /*float:left; remove this*/
    margin:15px;
 
    /*add this*/ 
    display:inline-block;
    position:relative;
}